<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //get_list()
        })

        function get_list() {
            $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",
                data: {},
                success: function (response) {
                    let rows = response["RealtimeCityAir"]["row"];
                    console.log(rows)
                    $("#gu_list").empty()
                    for(let i=0; i<rows.length; i++){
                        let gu_name= rows[i]["MSRSTE_NM"]
                        let gu_mise= rows[i]["IDEX_MVL"]
                        console.log(gu_name, gu_mise);
                        let html_temp = `<li>${gu_name}: ${gu_mise}</li>`
                        $("#gu_list").append(html_temp)

                    }
                }
            })
        }
    </script>
</head>
<body>
<h1>상세페이지</h1>
<button onclick="window.location.href='/'">메인</button>
<h3>받은 단어는 {{ word }}</h3>
<ul id="gu_list">
    {% for row in rows %}
    {% set gu_name = row["MSRSTE_NM"] %}
    {% set gu_mise = row["IDEX_MVL"] %}
        {% if gu_mise>=60 %}
    <li>{{ gu_name }} : {{ gu_mise|int }}</li>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>